<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="invigorate_inquiry_listing_data_source" xsi:type="string">Invigorate\Inquiry\Model\ResourceModel\InquiryRecords\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Invigorate\Inquiry\Model\ResourceModel\InquiryRecords\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">inquiry_form_records</argument>
            <argument name="resourceModel" xsi:type="string">Invigorate\Inquiry\Model\ResourceModel\InquiryRecords</argument>
        </arguments>
    </virtualType>
</config>